<dialog  id="custom-create-concept" class="modal modal-middle w-full" (cancel)="$event.preventDefault()">

    <div class="modal-box">
      <h3 class="text-lg font-bold">Crear Concepto</h3>
      <p class="text-sm opacity-70 mb-4">Creación de concepto</p>

      <form class="form grid">
          <div class="flex flex-col gap-2">
              <label for="create-dialog-input" class="font-bold">Concepto</label>
                  <input
                  #newConcept
                  name="newConcept"
                  type="text"
                  id="create-dialog-input"
                  class="input input-primary border w-full"
                  [disabled]="isLoading()"
                  autofocus />
          </div>
      </form>
  
      @if ( errValue() ) {
          <p class="text-red-500 text-sm mt-2">⚠️ {{ errValue() }}</p>
      }
  
      <div class="modal-action">
        <button class="btn btn-outline" [disabled]="isLoading()" (click)="onClose()"> Cancelar </button>
          <button class="btn btn-primary" [disabled]="isLoading()"  (click)="submitNewConcept()">
            @if (isLoading()) { <span class="loading loading-spinner"></span> Creando }
            @if (!isLoading()) { Crear }
        </button>
      </div>
  
      <button type="button" aria-label="Close dialog" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="onClose()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>
</dialog>