.input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Para hacer espacio para el icono */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group button {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}