<div class="overflow-hidden">
    <div class="flex justify-center items-center h-screen bg-gray-100" animate.enter="enter-animation">
        <div class="tabs w-xl" id="demo-tabs-with-panels">
            <div role="tabpanel" id="demo-tabs-with-panels-panel-1" aria-labelledby="demo-tabs-with-panels-tab-1" tabindex="-1" aria-selected="true">
            <div class="card">
    
            <header class="flex flex-col gap-y-4 justify-center items-center">
                <img
                    width="200"
                    src="assets/icons/staff.svg"
                    alt="Person login icon">
                <h2 class="text-4xl">Bienvenido de vuelta</h2>
                <p class="text-xl">Inicia sesión con tu cuenta</p>
            </header>
    
            <section>
                <form class="form grid gap-6" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                    <div class="grid gap-3">
                        <label for="demo-tabs-account-name">Correo</label>
                        <input 
                        type="text" 
                        id="demo-tabs-account-name" 
                        formControlName="email"
                        class="border rounded-sm px-3 py-2 focus:outline-none"
                        [ngClass]="getInputClasses('email')"
                        placeholder="Ingresa tu correo"/>

                        @if (isInvalid('email')) {
                            <p class="text-sm text-red-500">{{ getErrorMessage('email') }}</p>
                        }
                    </div>
                    <div class="grid gap-3 relative">
    
                        <label for="demo-tabs-account-username">Contraseña</label>
                        <input
                        [type]="showPassword ? 'text' : 'password'" 
                        id="demo-tabs-account-username" 
                        formControlName="password"
                        class="border rounded-sm px-3 py-2 focus:outline-none"
                        [ngClass]="getInputClasses('password')"
                        placeholder="Ingresa tu contraseña"/>
                        <button
                            type="button"
                            (click)="togglePassword()"
                            class="absolute right-3 -translate-y-1/2 text-gray-500 hover:text-gray-700"
                            [ngClass]="{
                                'top-3/4': !isInvalid('password'),
                                'top-2/4': isInvalid('password')
                            }">
                            @if (!showPassword) {
                                <img width="25" src="assets/icons/eye-line.svg" alt="visible">
                            }
                            @if (showPassword) {
                                <img width="25" src="assets/icons/eye-off-line.svg" alt="visible">
                            }
                        </button>

                        @if (isInvalid('password')) {
                            <p class="text-sm text-red-500">{{ getErrorMessage('password') }}</p>
                        }
                    </div>
                </form>
            </section>
    
            <footer class="flex justify-center items-center w-full">
                <div class="flex flex-col w-full">
                    <div class="flex my-4">
                        <label class="label gap-3">
                        <input type="checkbox" class="input"> Recordarme
                        </label>
                    </div>
                    <div class="flex justify-center mt-6">
                        <button [disabled]="!signInForm.valid" type="button" class="btn w-96 h-12 text-xl" (click)="onSubmit()">
                            Iniciar sesión
                        </button>
                    </div>
                    <div class="underline text-gray-400 mt-6 flex justify-center cursor-pointer">
                        <a routerLink="/auth/register">¿Aún no tienes cuenta?, Creala aquí</a>
                    </div>
                </div>
            </footer>
            </div>
        </div>
        </div>
    </div>
</div>