<div class="overflow-hidden">
    <div class="flex justify-center items-center h-screen bg-gray-100" animate.enter="enter-animation">
        <div class="tabs w-xl" id="demo-tabs-with-panels">
            <div role="tabpanel" id="demo-tabs-with-panels-panel-1" aria-labelledby="demo-tabs-with-panels-tab-1" tabindex="-1" aria-selected="true">
            <div class="card p-12 shadow-md bg-base-100">
    
            <header class="flex flex-col gap-y-4 justify-center items-center">
                <img
                    width="200"
                    src="assets/icons/staff.svg"
                    alt="Person login icon">
                <h2 class="text-4xl">Bienvenido de vuelta</h2>
                <p class="text-xl">Inicia sesión con tu cuenta</p>
            </header>
    
            <section>
                <form class="form grid gap-6" [formGroup]="signInForm" (ngSubmit)="onSubmit()">

                    <app-generic-input
                        label="Correo"
                        id="email"
                        placeholder="Ingresa tu correo"
                        controlName="email"
                        [formGroup]="signInForm">
                    </app-generic-input>

                    <app-password-input
                        label="Contraseña"
                        id="password"
                        placeholder="Ingresa tu contraseña"
                        controlName="password"
                        [formGroup]="signInForm">
                    </app-password-input>
                </form>
            </section>
    
            <footer class="flex justify-center items-center w-full">
                <div class="flex flex-col w-full">
                    <div class="flex my-4">
                        <label class="label gap-3">
                            <input type="checkbox" checked="checked" class="checkbox checkbox-primary" /> Recordarme
                        </label>
                    </div>
                    <div class="flex justify-center mt-6">
                        <app-button
                            label="Iniciar sesión"
                            [disabled]="!signInForm.valid || signInResource.isLoading()"
                            [loading]="signInResource.isLoading()"
                            (onClick)="onSubmit()">
                        </app-button>
                    </div>
                    <div class="underline text-gray-400 mt-6 flex justify-center cursor-pointer">
                        <a routerLink="/auth/register">¿Aún no tienes cuenta?, Creala aquí</a>
                    </div>
                </div>
            </footer>
            </div>
        </div>
        </div>
    </div>
</div>