<title-description-custom-button
  title="Bitacoras"
  description="Ve y sigue todas las actualizaciones de tus bitacoras."
  idModal=""
  [showButton]='false'
  buttonName="Crear tarea" />

<logs-map/>

<search-users-concepts-filters />

<app-custom-table
  [showActions]='false'
  [columns]="columns"
  [data]="logsListServices.filteredLogs()"
  [isLoading]="logsListServices.logsQuery.isLoading()"/>

<pagination
  [page]="logsListServices.page()"
  [hasNextPage]="(logsListServices.logsQuery.data()?.data ?? []).length < 5"
  (next)="logsListServices.nextPage()"
  (prev)="logsListServices.prevPage()"/>