  <title-description-custom-button
  title="Gestión de tareas"
  description="Crear, administrar y controlar tareas."
  idModal="custom-create-task"
  buttonName="Crear tarea" />

  <app-custom-table
  [columns]="columns"
  [data]="filteredTask() ?? []"
  [isLoading]="taskQuery.isLoading()"
  (actionClick)="onTableAction($event)"/>

  <pagination
  [page]="page()"
  [hasNextPage]="(taskQuery.data()?.data ?? []).length < 5"
  (next)="nextPage()"
  (prev)="prevPage()"/>

<create-dialog-task (taskCreated)="retryQueries($event)" />
<update-dialog-task (taskUpdated)="retryQueries($event)" />
<delete-dialog-task (taskDeleted)="retryQueries($event)" />