<title-description-custom-button
  title="Gestión de tareas"
  description="Crear, administrar y controlar tareas."
  idModal="custom-create-task"
  [showButton]='true'
  buttonName="Crear tarea" />

<search-and-selects-filters
  [searchTask]="taskServices.searchTask"
  (userCreatedChange)="taskServices.setCreatedUsers($event)"
  (userAssignedChange)="taskServices.setAssignedUsers($event)" />

<app-custom-table
  [showActions]='true'
  [columns]="columns"
  [data]="taskServices.filteredTasks()"
  [isLoading]="taskServices.taskQuery.isLoading()"
  (actionClick)="onTableAction($event)"/>

<pagination
  [page]="taskServices.page()"
  [hasNextPage]="(taskServices.taskQuery.data()?.data ?? []).length < 5"
  (next)="taskServices.nextPage()"
  (prev)="taskServices.prevPage()"/>

<create-dialog-task (taskCreated)="retryQueries($event)" />
<update-dialog-task (taskUpdated)="retryQueries($event)" />
<delete-dialog-task (taskDeleted)="retryQueries($event)" />