  <title-description-custom-button
  title="Gestión de conceptos"
  description="Crear, administrar y controlar conceptos."
  idModal="custom-create-concept"
  buttonName="Crear concepto" />

  <totals-info [data]="conceptsInfo"/>

  <div class="card border-0 shadow-md p-4 mb-6">
    <input class="input border shadow-md w-full" type="email" placeholder="Buscar..." [(ngModel)]="searchConcepts">
  </div>

  <app-custom-table
    [columns]="columns"
    [data]="filteredConcepts()"
    [isLoading]="getConceptsQuery.isLoading()"
    (actionClick)="onTableAction($event)"/>
    
  <pagination
    [page]="page()"
    [hasNextPage]="(getConceptsQuery.data()?.data ?? []).length < 5"
    (next)="nextPage()"
    (prev)="prevPage()"/>

  <create-dialog-concept (conceptCreated)="retryGetAllRoles($event)"/>
  <update-dialog-concept (conceptUpdated)="retryGetAllRoles($event)"/>
  <delete-dialog-concept (conceptDeleted)="retryGetAllRoles($event)"/>