  <title-description-custom-button
  title="Gestión de conceptos"
  description="Crear, administrar y controlar conceptos."
  idModal="custom-create-concept"
  buttonName="Crear concepto" />

  <totals-info [data]="conceptsInfo"/>

  <div class="card p-4 mb-6">
    <input class="input" type="email" placeholder="Buscar..." [(ngModel)]="searchConcepts">
  </div>

  <app-custom-table
    [caption]="'Lista de todos tus conceptos'"
    [headers]="['ID', 'Descripcion', 'Estatus']"
    [keys]="keys"
    [data]="filteredConcepts()"
    [isLoading]="getConceptsResource.isLoading()"
    (actionClick)="onTableAction($event)"/>
    
  <pagination
    [page]="page()"
    [hasNextPage]="concetps().length < 5"
    (next)="nextPage()"
    (prev)="prevPage()"/>

  <create-dialog-concept (conceptCreated)="retryGetAllRoles($event)"/>

  <update-dialog-concept (conceptUpdated)="retryGetAllRoles($event)"/>

  <delete-dialog-concept (conceptDeleted)="retryGetAllRoles($event)"/>