  <div class="flex justify-between mb-12">

    <div class="flex flex-col gap-y-2">
      <h1 class="font-bold text-4xl">Gestión de roles</h1>
      <p> Crear, administrar y controlar roles.</p>
    </div>

    <div class="flex">
      <button class="btn h-12" (click)="openCreateDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M13.0001 10.9999L22.0002 10.9997L22.0002 12.9997L13.0001 12.9999L13.0001 21.9998L11.0001 21.9998L11.0001 12.9999L2.00004 13.0001L2 11.0001L11.0001 10.9999L11 2.00025L13 2.00024L13.0001 10.9999Z">
          </path>
        </svg>
        Crear Rol
      </button>
    </div>

  </div>

  <div class="border-2 rounded-lg border-gray-300 p-4 mb-6">
    <input class="input" type="email" placeholder="Buscar..." [(ngModel)]="searchRol">
  </div>

  <app-custom-table
    [caption]="'Lista de todos tus roles'"
    [headers]="['ID', 'Nombre', 'Estatus']"
    [keys]="keys"
    [data]="filteredRoles()"
    [isLoading]="ref.isLoading()"
    (actionClick)="onTableAction($event)"/>

  <edit-dialog (roleUpdated)="retryGetAllRoles($event)"/>

  <delete-dialog (roleUpdated)="retryGetAllRoles($event)"/>

  <create-dialog (roleCreated)="retryGetAllRoles($event)"/>