  <title-description-custom-button
  title="Gestión de roles"
  description="Crear, administrar y controlar roles."
  idModal="custom-create-role"
  buttonName="Crear Rol" />

  <totals-info [data]="rolesInfo"/>

  <div class="card p-4 mb-6">
    <input class="input" type="email" placeholder="Buscar..." [(ngModel)]="searchRol">
  </div>

  <app-custom-table
    [caption]="'Lista de todos tus roles'"
    [headers]="['ID', 'Nombre', 'Estatus']"
    [keys]="keys"
    [data]="filteredRoles()"
    [isLoading]="updateResource.isLoading()"
    (actionClick)="onTableAction($event)"/>

  <pagination 
  [page]="page()"
  [hasNextPage]="roles().length < 5"
  (next)="nextPage()"
  (prev)="prevPage()"/>

  <edit-dialog (roleUpdated)="retryGetAllRoles($event)"/>

  <delete-dialog (roleUpdated)="retryGetAllRoles($event)"/>

  <create-dialog (roleCreated)="retryGetAllRoles($event)"/>