<dialog
  id="custom-edit-role"
  class="modal modal-middle w-full"
  (cancel)="$event.preventDefault()">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-2">Editar Rol</h3>
    <p class="text-sm opacity-70 mb-4">
      Haz tus cambios del Rol aquí. Da click en editar cuando hayas terminado.
    </p>

    <form class="form grid gap-6">
      <div class="flex flex-col gap-4">
        <label class="font-semibold">Estatus</label>
        <label class="flex items-center gap-3 cursor-pointer w-12">
          <input 
            type="checkbox"
            class="toggle toggle-primary w-12 border rounded-2xl"
            [checked]="roleSelectedServices.selectedRole()?.active"
            (change)="onStatusChange($event)"/>
          <span>
            @if (roleSelectedServices.selectedRole()?.active) {
              Activo
            }
            @if (!roleSelectedServices.selectedRole()?.active) {
              Inactivo
            }
          </span>
        </label>
      </div>

      <div class="flex flex-col gap-2">
        <label for="edit-role-name" class="font-semibold">Rol</label>
        <input
          type="text"
          id="edit-role-name"
          class="input input-primary border w-full"
          [value]="roleSelectedServices.selectedRole()?.name"
          (input)="onNameChange($any($event.target).value)"
          [disabled]="isLoading()"
          autofocus
        />
      </div>
    </form>

    @if (errValue()) {
      <p class="text-red-500 text-sm mt-3">⚠️ {{ errValue() }}</p>
    }

    <div class="modal-action">
      <button class="btn btn-outline" [disabled]="isLoading()" (click)="onClose()">Cancelar</button>
      <button class="btn btn-primary" [disabled]="isLoading()" (click)="submitUpdateRol()">
        @if (isLoading()) {
          <span class="loading loading-spinner"></span> Cargando
        }
        @if (!isLoading()) {
          Editar
        }
      </button>
    </div>

    <button
      type="button"
      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      aria-label="Close dialog"
      (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
    </button>
  </div>
</dialog>