<dialog 
    id="custom-edit-role"
    class="dialog w-full sm:max-w-[425px] max-h-[612px]" 
    aria-labelledby="demo-dialog-edit-profile-title" 
    aria-describedby="demo-dialog-edit-profile-description">
  <article>
    <header class="border-b py-4 border-gray-400">
      <h2 id="demo-dialog-edit-profile-title">Editar Rol</h2>
      <p id="demo-dialog-edit-profile-description">Has tus cambios del Rol aqui. Da click en editar cuando hayas terminado.</p>
    </header>

    <section>
        <form class="form grid gap-4">
            <div class="flex flex-col gap-8">

                <div class="flex flex-col gap-4">
                    <label for="active-role">Estatus</label>
    
                    <label class="label gap-3">
                        <label class="label">
                        <input type="checkbox" name="switch" role="switch" [checked]="roleSelectedServices.selectedRole()?.active" (input)="onStatusChange($event)" class="input">
                            @if (roleSelectedServices.selectedRole()?.active) {
                                <span> Activo </span>
                            }
                            @if (!roleSelectedServices.selectedRole()?.active) {
                                <span> Inactivo</span>
                            }
                        </label>
                    </label>
                </div>

                <div class="flex flex-col gap-4">
                    <label for="demo-dialog-edit-profile-name">Role</label>
                    <input 
                    type="text" 
                    [value]="roleSelectedServices.selectedRole()?.name" 
                    id="demo-dialog-edit-profile-name"
                    (input)="onNameChange($any($event.target).value)"
                    [disabled]="isLoading()"
                    autofocus />
                </div>

            </div>
        </form>

      @if ( errValue() ) {
        <p class="text-red-500 text-sm mt-2">⚠️ {{ errValue() }}</p>
      }
    </section>

    <footer>
        <button class="btn-outline" [disabled]="isLoading()" (click)="onClose()">Cancelar</button>
        <button class="btn" [disabled]="isLoading()" (click)="submitUpdateRol()">
            @if ( isLoading() ) {
                <p>Cargando</p>
            }
            @if ( !isLoading() ) {
                <p>Editar</p>
            }
        </button>
    </footer>

    <button type="button" aria-label="Close dialog" (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </article>
</dialog>