<dialog 
    id="custom-create-task"
    class="dialog w-full sm:max-w-[425px] max-h-[612px]" 
    aria-labelledby="demo-dialog-edit-profile-title" 
    aria-describedby="demo-dialog-edit-profile-description">
  <article>
    <header class="mb-6 border-b py-4 border-gray-200">
      <h2 id="demo-dialog-edit-profile-title">Craer Tarea</h2>
      <p id="demo-dialog-edit-profile-description">Creación de tarea</p>
    </header>

    <section>
        <form class="form flex flex-col gap-y-8" [formGroup]="taskForm">

            <!-- Usuario creado -->
             <div class="flex flex-col gap-2">
                <span class="font-bold">Usuario creado</span>
                 <select formControlName="createdUser" class="select w-full">
                     <option [ngValue]="userLogueadedId()" [disabled]="true">{{ userLogueaded() }}</option>
                </select>
             </div>

            <!-- Titulo-->
            <div class="flex flex-col gap-2">
                <label for="create-dialog-input" class="font-bold">Título</label>
                    <input
                    name="title"
                    formControlName="title"
                    type="text"/>
                    @if (taskForm.get('title')?.touched && taskForm.get('title')?.errors) {
                        <p class="text-red-500 text-sm">
                        {{ taskForm.get('title')?.errors?.['titleError'] }}
                        </p>
                    }
            </div>

            <!-- Description -->
            <div class="flex flex-col gap-2">
                <label for="create-dialog-input" class="font-bold">Descripción</label>
                    <input
                    name="description"
                    formControlName="description"
                    type="text"/>
                    @if (taskForm.get('description')?.touched && taskForm.get('description')?.errors) {
                        <p class="text-red-500 text-sm">
                        {{ taskForm.get('description')?.errors?.['descriptionError'] }}
                        </p>
                    }
            </div>

            <!-- Usuario asignado -->
             @if ( usersList.error() ) {
                <h3 class="text-red-400 font-bold"> {{ usersList.error()?.message  }} </h3>
             } @else {

                <div class="flex flex-col gap-2">
                    <span class="font-bold">Usuario asignado</span>
                    <select formControlName="assignedUser" class="select w-full">
                        @for ( item of usersList.data()?.data; track item.idUser ) {
                            <option [ngValue]="item.idUser">{{ item.firstName }} {{ item.lastName }}</option>
                        }
                    </select>
                </div>
             }
        </form>
    </section>

    <footer>
        <button class="btn btn-soft btn-error" [disabled]="postTask.isPending()" (click)="onClose()"> Cancelar </button>
        <button class="btn btn-soft btn-primary" [disabled]="!taskForm.valid && !postTask.isPending()"  (click)="submitNewTask()">
             @if ( false ) {
                <p>Cargando</p>
            }
            @if ( !false ) {
                <p>Crear</p>
            }
        </button>
    </footer>

    <button type="button" aria-label="Close dialog" (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </article>
</dialog>