<div class="overflow-hidden">
    <div class="flex justify-center items-center h-screen bg-gray-100" animate.enter="enter-animation">
        <div class="tabs w-xl" id="demo-tabs-with-panels">
            <div role="tabpanel" id="demo-tabs-with-panels-panel-1" aria-labelledby="demo-tabs-with-panels-tab-1" tabindex="-1" aria-selected="true">
            <div class="card">
    
            <header class="flex flex-col gap-y-4 justify-center items-center">
                <img
                    width="200"
                    src="assets/icons/user_profile.svg"
                    alt="Person login icon">
                <h2 class="text-4xl">Crea una cuenta</h2>
                <p class="text-xl">Unetenos hoy y comienza</p>
            </header>
    
            <section>
                <form class="form grid gap-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="grid gap-3">
                        <app-generic-input
                            label="Nombre(s)"
                            id="name"
                            placeholder="Ingresa tu nombre(s)"
                            controlName="firstName"
                            [formGroup]="registerForm">
                        </app-generic-input>
                    </div>
                    <div class="grid gap-3">
                        <app-generic-input
                            label="Apellidos"
                            id="apellido"
                            placeholder="Ingresa tu apellidos"
                            controlName="lastName"
                            [formGroup]="registerForm">
                        </app-generic-input>
                    </div>
                    <div class="grid gap-3">
                        <app-generic-input
                            label="Correo"
                            id="email"
                            placeholder="Ingresa tu correo"
                            controlName="email"
                            [formGroup]="registerForm">
                        </app-generic-input>
                    </div>
                    <div class="grid gap-3 relative">
                        <app-password-input
                            label="Contraseña"
                            id="password"
                            placeholder="Ingresa tu contraseña"
                            controlName="password"
                            [formGroup]="registerForm">
                        </app-password-input>
                    </div>
                </form>
            </section>
    
            <footer class="flex justify-center items-center w-full">
                <div class="flex flex-col w-full">
                    <div class="flex justify-center mt-6">
                        <app-button
                            label="Registrate"
                            [disabled]="!registerForm.valid || registerResource.isLoading()"
                            [loading]="registerResource.isLoading()"
                            (onClick)="onSubmit()">
                        </app-button>
                    </div>
                    <div class="underline text-gray-400 mt-6 flex justify-center cursor-pointer">
                        <a routerLink="/auth/login">¿Ya tienes cuenta?, Inicia sesión aquí</a>
                    </div>
                </div>
            </footer>
            </div>
        </div>
        </div>
    </div>
</div>