<div class="flex flex-row gap-x-4 card border-0 shadow-md p-4 mb-6">
    <div class="basis-1/2">
        <input class="input border shadow-md w-full" type="email" placeholder="Buscar" [(ngModel)]="searchTask">
    </div>

    @if ( usersList.error() ) {
        <h3 class="text-red-400 font-bold"> {{ usersList.error()?.message  }} </h3>
    } @else {
        <custom-select
        class="flex flex-col gap-2 basis-1/2"
        [users]="usersList.data()?.data || []"
        [selected]="selectedUsersCreated"
        (selectionChange)="onUserCreatedChange($event)"
        placeholder="Seleccionar usuarios creados"/>

        <custom-select
        class="flex flex-col gap-2 basis-1/2"
        [users]="usersList.data()?.data || []"
        [selected]="selectedUsersAsigned"
        (selectionChange)="onUserAssignedChange($event)"
        placeholder="Seleccionar usuarios asignados"/>
    }
</div>