@if  ( query!.isError() ) {
      <div class="card bg-base-100 w-96 h-96 shadow-md p-8 border border-gray-100 flex justify-center items-center">
          <span class="loading loading-ring loading-xl"> {{ query.error() }} </span>
      </div>
  }

  @if  ( query!.isLoading() ) {
      <div class="card bg-base-100 w-96 h-96 shadow-md p-8 border border-gray-100 flex justify-center items-center">
          <span class="loading loading-ring loading-xl"></span>
      </div>
  }

  @if ( query!.data() && !query!.isLoading() ) {
    <div class="card bg-base-100 w-full shadow-md p-8 border border-gray-100">

        <div class="w-full flex flex-col md:flex-row gap-x-4 gap-y-4 mb-4">
            <custom-select
            class="flex flex-col gap-2 basis-1/2"
            [users]="usersList.data()?.data || []"
            [selected]="selectedUsers"
            (selectionChange)="($event)"
            placeholder="Filtrar por usuarios"/>

            <button class="btn btn-outline btn-primary" [disabled]="selectedUsers().length < 1" (click)="clearSelect()">
                Limpiar
            </button>
    
            <input type="date" class="input border rounded-md" [(ngModel)]="startDate"/>
        </div>

        <h1 class="text-2xl font-bold"> Bitacoras por usuarios </h1>
        <canvas baseChart [data]="barChartData()" type="bar"></canvas>
    </div>
  }