<title-description-custom-button
title="Gestión de usuarios"
description="Crear, administrar y controlar usuarios."
idModal="custom-create-user"
[showButton]='true'
buttonName="Crear usuario" />

<filters-selects />

<app-custom-table
[showActions]='true'
[columns]="columns"
[data]="selectAndFilterServices.usersListSelect.data()?.data ?? []"
[isLoading]="false"
(actionClick)="($event)"/>

<pagination
[page]="selectAndFilterServices.page()"
[hasNextPage]="(selectAndFilterServices.usersListSelect.data()?.data ?? []).length < 5"
(next)="selectAndFilterServices.nextPage()"
(prev)="selectAndFilterServices.prevPage()"/>